* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(backimage.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #e85d9e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    margin: 30px auto 0;
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content p {
    margin: 10px auto;
    margin-top: 10px;
    font-weight: 100;
    line-height: 25px;
}

button {
    position: relative;
    overflow: hidden;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #e85d9e;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

span {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    background: #e85d9e;
    border-radius: 25px;
    transition: 0.5s;
    z-index: -1;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.pink-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e85d9e;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    z-index: 9999;
    opacity: 0.9;
}

.free-shipping {
    margin: 0;
}

.fa-shopping-cart {
    font-size: 24px;
    color: #e85d9e;
}

.fa-shopping-cart:before {
    content: "\f07a";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
}